# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/
npm-debug.log

# SEAN.JS app and assets
# ======================
public/dist/
public/uploads/users/profile/*
config/env/local.js
*.pem

modules/*/client/css

modules/users/server/controllers/users/local/*
modules/users/server/models/local/*

# Ignoring SEAN.JS Stack's gh-pages branch for documenation
_site/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln
/nbproject
