<section class="row" ng-controller="PasswordController">
  <br />
  <br />
  <div class="col-md-4 col-md-offset-4">
    <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Restore your password</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Enter your account username.</td>
          </tr>
          <tr>
            <td class="form-group" show-errors>
              <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
              <div ng-messages="forgotPasswordForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Enter a username.</p>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td align="center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </td>
          </tr>
          <tr>
            <td>
              <div ng-show="error" class="text-center alert alert-danger">
                <strong ng-bind="error"></strong>
              </div>
              <div ng-show="success" class="text-center alert alert-success">
                <strong ng-bind="success"></strong>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>


    </form>
  </div>
</section>
