<!-- The chat view -->
<section class="container" ng-controller="ChatController">
  <div class="page-header">
    <h1>Chat Example</h1>
    <h3>Current clients: <b>{{currentClients || 1}}</b></h3>
  </div>
  <!-- The message form -->
  <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">
    <fieldset class="row">
      <div class="input-group">
        <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
        </span>
      </div>
    </fieldset>
  </form>
  <ul class="list-unstyled">
    <!-- List all messages -->
    <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in messages">
      <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
      <span ng-if="message.profileImageURL">
        <img ng-src="/uploads/users/profile/{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
      </span>
      <span ng-if="!message.profileImageURL">
        <img ng-src="/modules/core/client/img/brand/favicon.png" alt="{{message.username}}" class="pull-left chat-profile-image" />
      </span>
      <div class="pull-left chat-message-details">
        <strong ng-bind="message.username"></strong>
        <br>
        <span ng-bind="message.text"></span>
      </div>
    </li>
  </ul>
</section>
