<section class="row" ng-controller="EditProfileController" ng-init="getProfile()">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">

    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">

      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Edit My Profile</th>
          </tr>
        </thead>
        <tbody>
          <tr class="form-group" show-errors>
            <td>
              <label for="firstName">First Name</label>
            </td>
            <td>
              <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required />
              <div ng-messages="userForm.firstName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">First name is required.</p>
              </div>
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="lastName">Last Name</label>
            </td>
            <td>
              <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required />
              <div ng-messages="userForm.lastName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Last name is required.</p>
              </div>
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="email">Email</label>
            </td>
            <td>
              <input type="text" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required />
              <div ng-messages="userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email is required.</p>
              </div>
            </td>
          </tr>
          <tr class="form-group" show-errors>
            <td>
              <label for="username">Username</label>
            </td>
            <td>
              <input type="text" id="email" name="username" class="form-control" ng-model="user.username" placeholder="Username" required />
              <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" align="center">
              <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default btn-block">
              </div>
              <div ng-show="success" class="text-center alert alert-success">
                <strong>Profile Saved Successfully</strong>
              </div>
              <div ng-show="error" class="text-center alert alert-danger">
                <strong ng-bind="error"></strong>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>

    </form>

  </div>
</section>
