<div ng-controller="AuthenticationController">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <br />
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Or with your account
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="form-group" show-errors>
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
              <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="form-group" show-errors>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
              <div ng-messages="userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td align="center">
              <button type="submit" class="btn btn-primary">Sign in</button>
              &nbsp; or&nbsp;
              <a ui-sref="authentication.signup">Sign up</a>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center forgot-password">
                <a ui-sref="password.forgot">Forgot your password?</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <alert type="danger" ng-show="error" class="text-center alert alert-danger">
                <span ng-bind="error"></span>
              </alert>
            </td>
          </tr>
        </tfoot>
      </table>

    </form>
  </div>
</div>
